<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="DnsClient" version="1.2.0" targetFramework="net461" />
  <package id="DynamicData" version="6.9.1.2588" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.4" targetFramework="net461" />
  <package id="LiteDB" version="4.1.4" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks" version="3.0.0-alpha0176" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks.Material" version="2.3.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="NLog" version="4.6.5" targetFramework="net461" />
  <package id="ReactiveUI" version="9.16.3" targetFramework="net461" />
  <package id="ReactiveUI.WPF" version="9.16.3" targetFramework="net461" />
  <package id="Splat" version="7.2.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.1.5" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net461" />
</packages>